[Unit]
Description=GitSign credential cache

[Service]
Type=simple
ExecStart=%h/.local/bin/gitsign-credential-cache

[Install]
WantedBy=default.target
