name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

    - name: Set up Go
      uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923 # v3.1.0
      with:
        go-version: 1.18
        check-latest: true

    - name: Build
      run: make build

    - name: Unit Tests
      run: make unit-test
