name: Verify

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  license-check:
    name: license boilerplate check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a # v3.1.0
        with:
          go-version: 1.18
          check-latest: true
      - name: Install addlicense
        run: go install github.com/google/addlicense@v1.0.0
      - name: Check license headers
        run: |
          set -e
          addlicense -l apache -c 'The Sigstore Authors' -v -ignore *.yml -ignore *.yaml *
          git diff --exit-code

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a # v3.1.0
        with:
          go-version: 1.18
          check-latest: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc # v3.2.0
        timeout-minutes: 5
        with:
          version: v1.46.2
